
:root{
    --scip-theme-clr: #37a2d6;
    --btn-bg-clr-opacity: #37a2d6;
    --scip-nav-bg-dark: #37a2d6;
    --scip-vertical-menu-item-color-dark: #37a2d6;
    --scip-vertical-menu-sub-item-color-dark: #37a2d6;
}
// $scip-theme: #00a1d4;
// $scip-nav-bg-dark: #00a1d4;

// $scip-vertical-menu-item-color-dark: #fff;
// $scip-vertical-menu-sub-item-color-dark: #e8e8e8;

// Color Code here

// Blue #37a2d6
// Orange #e59f00
// Green #64b83f
// Red #d96245